.audio {
  background: $primary;  
  color: $on_primary; 
  margin: 3 3;
  padding: 0 6;
  border-radius: 5;
  font-size: 18;
}

.LANG {
  background: $primary; 
  color: $on_primary;  
  margin: 3 0;
  padding: 0 6;
  border-top-left-radius: 15;
  border-bottom-left-radius: 15;
  border-top-right-radius: 5;
  border-bottom-right-radius: 5;
  font-size: 18;
}

.time {
  background: $primary;  
  color: $on_primary;  
  margin: 3 1;
  padding: 0 10;
  border-top-left-radius: 5;
  border-bottom-left-radius: 5;
  border-top-right-radius: 5;
  border-bottom-right-radius: 5;
  font-size: 18;
}

.fmenu {
  background: $primary; 
  color: $on_primary;  
  margin: 3 3;
  padding: 0 4;
  border-radius: 5;
  font-size: 18;
}
